@import url('./materialize/css/materialize.min.css');
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

@font-face {
    font-family: "myfont";
    src: url('./fonts/heroes_legend/HeroesLegend.ttf');
}

.divSpacing {
    padding-bottom: 92px;
    padding-top: 50px;
}

h1, h2, h3 {
    font-family: 'Racing Sans One', cursive;
    margin-bottom: 0px;
    color: #7858af;
}

.description {
    color: rgb(105, 105, 105);
    font-style: italic;
    font-size: 15px;
}

.paragraph {
    text-align: justify;
    text-indent: 50px;
}

.bold {
    font-weight: bold; 
}

.leftDiv {
    margin-left: 15px;
}

/* Navigation Bar CSS */
nav {
    background-color: #7858afc4;
    font-family: 'Racing Sans One', cursive;
}

.navbar-fixed{
    background-color: #7858af;
}

.brand-logo {
    font-size: 10px;
    margin-left: 8px;
}

.contactNav {
    margin-right: 8px;
}

.navHamburger {
    color: white;
    position: sticky;
    z-index: 1;
    left: 3%;
    top: 3%;
  }

/* Home Screen CSS */
#homeImage{
    width: 100%;
    height: 1000px;
    position: relative;
    z-index: 0;
    opacity: .6;
}

.nameDiv{
    z-index: 1;
    position: relative;
    top: -780px;
    color: aliceblue;
    font-family: "myfont";
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.name {
    font-size: 100px;
    border-bottom: solid 2px;
    line-height: 1.4;
    margin-bottom: 20px;
    color: aliceblue;
    font-family: "myfont";
}

.interactive{
    margin-top: 0px;
}

.overlay {
    width: 100%;
    height: 1000px;
    background-color: #7858af;
    z-index: 2;
}

.topicDiv {
    border-bottom: solid 1px gray;
    margin-bottom: 15px;
}

.tanDiv {
    background-color: #f3efe1;
}

.greyDiv{
    background-color: #d5d5d5;
}

/* Profile Section CSS */
.basicDiv {
    margin-left: 30px;
}

.basicText {
    margin-left: 30px;
}

.profilePic {
    height: 305px;
    width: 365px;
    margin-left: 65px;
    border: solid 10px #7858af7a;
}

.aboutMe {
    margin-left: 60px;
}

/* Experiences Section CSS */
.experienceTitle {
    font-weight: bolder;
    font-size: 20px; 
    color: black;
}

.experienceDate {
    font-size: 14px;
    font-style: italic;
    margin-top: -30px;
    margin-left: 38px;
}

.experienceLocation {
    font-size: 14px;
    font-style: italic;
    margin-top: -31px;
    margin-left: 38px;
}

.dateLogo {
    margin-top: 7px;
}

.titleText {
    margin-top: 3px;
    font-weight: bold;
}

#scText {
    margin-top: 40px;
}

#purdueText {
    margin-top: 3px;
    margin-bottom: 0px;
    font-weight: bold;
}

#minorsText {
    font-weight: bold;
    font-size: 14px;
    margin-top: 0px;
}

/* Skills Section CSS */
.card {
    width: 135px;
    height: 160px;
    float: left;
    margin-top: 0px;
    margin: 13px;
    color: #7858af;
}

.cardDiv {
    display: inline;
}

.card-image {
    height: 135px;
    width: 135px;
    overflow: hidden;
}

.skillsHeaders {
    margin-bottom: 0px;
}

#cssPic {
    height: 210px;
    width: 355px;
    left: -110px;
    top: -17px;
}

#nodePic {
    width: 120px;
    left: 9px;
    top: 38%;
}

#mampPic {
    top: 20%;
}

#expressPic {
    width: 120px;
    left: 7px;
    top: 43%;
}

#materializePic {
    top: 26%;
}

#handlebarPic {
    top: 25%;
}

#handlebarsText {
    margin-left: -16px;
}

.skillName{
    color: #7858af;
}

.cardNameDiv {
    text-align: center;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
    padding: 16px 24px;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

/* Portfolio CSS */
.portfolioDiv {
    width: 650px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #ecececa9;
}

.screenImg {
    width: 380px;
    height: 250px;
    position: relative;
    z-index: 2;
}

.portfolioPic {
    width: 343px;
    height: 210px;
    z-index: 1;
    position: absolute;
    left: 153px;
    top: 135px;
}

/* Interests Section CSS */
#interestsRow {
    margin-bottom: 0px;
    padding-bottom: 100px;
}

.interestLogo {
    width: 150px;
    height: 150px;
    margin-top: 13px;
}

/* Contact Section CSS */
#contactSection {
    background-color: #7858af;
}

.contactDiv {
    z-index: 1;
    position: relative;
    bottom: 60%;
}

#contactDescription {
    color: aliceblue;
}

.contact {
    color: aliceblue;
}

.contactLogos {
    width: 80px;
    height: 80px;
    margin: 15px;
}

#gmailLogo {
    width: 110px;
    height: 104px;
    padding-top: 4px;
    margin-bottom: 5px;
}


#contactLogoRow {
    margin-bottom: 0px;
    padding-bottom: 50px;
}
