@import url('./materialize/css/materialize.min.css');
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

@font-face {
    font-family: "myfont";
    src: url('./fonts/heroes_legend/HeroesLegend.ttf');
}

nav {
    background-color: #7858af;
    font-family: 'Racing Sans One', cursive;
}

h1, h2, h3 {
    font-family: 'Racing Sans One', cursive;
    margin-bottom: 0px;
    color: #7858af;
}

.description {
    color: rgb(105, 105, 105);
    font-style: italic;
    font-size: 15px;
}

.paragraph {
    text-align: justify;
    text-indent: 50px;
}

.bold {
    font-weight: bold; 
}

.leftDiv {
    margin-left: 15px;
}

.brand-logo {
    font-size: 10px;
    margin-left: 6px;
}

#homeImage{
    width: 100%;
    height: 1000px;
    position: relative;
    z-index: 0;
    opacity: .6;
}

.nameDiv{
    z-index: 1;
    position: relative;
    top: -780px;
    color: aliceblue;
    font-family: "myfont";
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.name {
    font-size: 100px;
    border-bottom: solid 2px;
    line-height: 1.4;
    margin-bottom: 20px;
    color: aliceblue;
    font-family: "myfont";
}

.interactive{
    margin-top: 0px;
}

.overlay {
    width: 100%;
    height: 1000px;
    background-color: #7858af;
    z-index: 2;
}

.topicDiv {
    border-bottom: solid 1px gray;
    margin-bottom: 15px;
}

.profilePic {
    height: 305px;
    width: 345px;
    margin-left: 85px;
    border: solid 10px #7858af7a;
}

.profileDiv {
    margin-top: 30px;
    margin-bottom: 100px;
}

.aboutMe {
    margin-left: 60px;
}

.experiencesDiv {
    background-color: #f3efe1;
    margin-top: 30px;
}

.skillsDiv {
    margin-top: 30px;
}