@import url('./materialize/css/materialize.min.css');
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

@font-face {
    font-family: "myfont";
    src: url('./fonts/heroes_legend/HeroesLegend.ttf');
}

.divSpacing {
    padding-bottom: 92px;
    padding-top: 50px;
}

h1, h2, h3 {
    font-family: 'Racing Sans One', cursive;
    margin-bottom: 0px;
    color: #7858af;
}

.description {
    color: rgb(105, 105, 105);
    font-style: italic;
    font-size: 15px;
}

.paragraph {
    text-align: justify;
    text-indent: 50px;
}

.bold {
    font-weight: bold; 
}

.leftDiv {
    margin-left: 15px;
}

.topicDiv {
    border-bottom: solid 1px gray;
    margin-bottom: 15px;
}

.tanDiv {
    background-color: #f3efe1;
}

.greyDiv{
    background-color: #d5d5d5;
}

/* Navigation Bar CSS */
nav {
    background-color: #7858afc4;
    font-family: 'Racing Sans One', cursive;
}

.navbar-fixed{
    background-color: #7858af;
}

.brand-logo {
    font-size: 10px;
    margin-left: 8px;
}

.sidenav-overlay {
    z-index: 0;
}

.contactNav {
    margin-right: 8px;
}

.sidenavbar {
    z-index: 2;
}

/* Home Screen CSS */
#homeImage{
    width: 100%;
    height: 1000px;
    position: relative;
    z-index: 0;
    opacity: .6;
}

.nameDiv{
    z-index: 1;
    position: relative;
    top: -780px;
    color: aliceblue;
    font-family: "myfont";
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.name {
    font-size: 100px;
    border-bottom: solid 2px;
    line-height: 1.4;
    margin-bottom: 20px;
    color: aliceblue;
    font-family: "myfont";
}

.interactive{
    margin-top: 0px;
}

.overlay {
    width: 100%;
    height: 1000px;
    background-color: #7858af;
    z-index: 2;
}

/* Profile Section CSS */
.basicDiv {
    margin-left: 30px;
}

.basicText {
    margin-left: 30px;
}

.profilePic {
    height: 305px;
    width: 365px;
    margin-left: 65px;
    border: solid 10px #7858af7a;
}

.aboutMe {
    margin-left: 60px;
}

/* Experiences Section CSS */
.experienceTitle {
    font-weight: bolder;
    font-size: 20px; 
    color: black;
}

.experienceDate {
    font-size: 14px;
    font-style: italic;
    margin-top: -30px;
    margin-left: 38px;
}

.experienceLocation {
    font-size: 14px;
    font-style: italic;
    margin-top: -31px;
    margin-left: 38px;
}

.dateLogo {
    margin-top: 7px;
}

.titleText {
    margin-top: 3px;
    font-weight: bold;
}

#scText {
    margin-top: 40px;
}

#purdueText {
    margin-top: 3px;
    margin-bottom: 0px;
    font-weight: bold;
}

#minorsText {
    font-weight: bold;
    font-size: 14px;
    margin-top: 0px;
}

/* Skills Section CSS */
.card {
    width: 135px;
    height: 160px;
    float: left;
    margin-top: 0px;
    margin: 13px;
    color: #7858af;
}

.cardDiv {
    display: inline;
}

.card-image {
    height: 135px;
    width: 135px;
    overflow: hidden;
}

.skillsHeaders {
    margin-bottom: 0px;
}

#cssPic {
    height: 210px;
    width: 355px;
    left: -110px;
    top: -17px;
}

#phpPic {
    top: 32%;
}

#awsPic {
    width: 200px;
    left: -23%;
    top: 13%;
}

#nodePic {
    width: 120px;
    left: 8%;
    top: 38%;
}

#mampPic {
    top: 20%;
}

#expressPic {
    width: 120px;
    left: 6%;
    top: 43%;
}

#materializePic {
    top: 26%;
}

#handlebarPic {
    top: 25%;
}

#mongodbPic {
    height: 150px;
    width: 200px;
    left: -23%;
    top: -4%;
}

#reactPic {
    height: 140px;
    width: 280px;
    left: -53%;
}

#handlebarsText {
    margin-left: -16px;
}

.skillName{
    color: #7858af;
}

.cardNameDiv {
    text-align: center;
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
    padding: 16px 24px;
    text-transform: uppercase;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

/* Portfolio CSS */
.portfolioDiv {
    width: 650px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #ecececa9;
}

.screenImg {
    width: 380px;
    height: 250px;
    position: relative;
    z-index: 2;
}

.portfolioPic {
    width: 343px;
    height: 210px;
    z-index: 1;
    position: absolute;
    left: 153px;
    top: 135px;
}

/* Interests Section CSS */
#interestsRow {
    margin-bottom: 0px;
    padding-bottom: 100px;
}

.interestLogo {
    width: 150px;
    height: 150px;
    margin-top: 13px;
}

/* Contact Section CSS */
#contactSection {
    background-color: #7858af;
}

.contactDiv {
    z-index: 1;
    position: relative;
    bottom: 60%;
}

#contactDescription {
    color: aliceblue;
}

.contact {
    color: aliceblue;
}

.contactLogos {
    width: 80px;
    height: 80px;
    margin: 15px;
}

#gmailLogo {
    width: 110px;
    height: 104px;
    padding-top: 4px;
    margin-bottom: 5px;
}


#contactLogoRow {
    margin-bottom: 0px;
    padding-bottom: 50px;
}

/* Resume Page */

.resumeDiv{
    z-index: 1;
    position: relative;
    top: -96%;
    left: 10%;;
    color: aliceblue;
    font-family: "myfont";
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#homeImageResume{
    width: 100%;
    height: 1200px;
    position: relative;
    z-index: 0;
    opacity: .6;
}

.overlayResume {
    width: 100%;
    height: 1200px;
    background-color: #7858af;
    z-index: 2;
}

.contactDivResume {
    z-index: 1;
    position: relative;
    bottom: 60%;
}

/* iPhone 6/7 Plus Responsiveness */
@media (max-width: 414px) {
    /* NavBar */
    nav {
        width: 414px;
    }

    .nav-wrapper {
        width: 414px;
    }
    
    .brand-logo {
        font-size: 10px;
        margin-left: 0px;
    }

    .sidenavbar {
        z-index: 2;
    }

    /* Home Section */
    #homeImage{
        height: 635px;
    }
    .overlay {
        height: 635px;
    }
    .nameDiv{
        top: -480px;
        font-size: 13px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
    .name {
        font-size: 40px;
        margin-bottom: 20px;
    }

    /* Profile Section */
    #profileDiv {
        width: 360px;
        margin-left: -40px;
    }

    .basicDiv {
        margin-left: 20px;
        top: 1220px;
        position: absolute;
    }
    
    .basicText {
        margin-left: 10px;
        text-align: center;
    }
    
    .profilePic {
        height: 285px;
        width: 345px;
        margin-left: -110px;
        margin-bottom: 460px;
    }
    
    .aboutMe {
        margin-left: -130px;
        position: absolute;
        top: 1400px;
    }
    
    #aboutMePara {
        top: 1470px;
        margin-left: -200px;
        width: 310px;
    }

    /* Experiences Section */
    #experienceDiv {
        width: 360px;
        margin-left: -40px;
    }

    #experienceHeader {
        font-size: 65px;
        margin-left: -12px;
    }

    #experienceDescription {
        font-size: 14px;
    }

    .experienceH2 {
        margin-top: 0px;

    }

    #eduTitle {
        margin-left: 20px
    }

    #uciDiv {
        width: 300px;
        margin-bottom: 240px;
        margin-left: -10px;
    }

    #uciDiv2 {
        position: absolute;
        top: 2290px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #scDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 90px;
    }

    #scDiv2 {
        position: absolute;
        top: 2630px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #purdueDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 200px;
        margin-top: 20px;
    }

    #purdueDiv2 {
        position: absolute;
        top: 2920px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }
    
    #purdueTitle {
        margin-left: 25px;
    }
    
    #purdueText {
        font-size: 13px;
    }

    #minorsText {
        font-size: 13px;
    }

    #workHeader {
        margin-top: 0px;
        text-align: center;
        margin-left: -60px;
    }

    #lexonetDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 220px;
    }

    #lexonetDiv2 {
        position: absolute;
        top: 3380px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #superiorDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 220px;
    }

    #superiorDiv2 {
        position: absolute;
        top: 3765px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #fargoDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 215px;
        margin-top: 30px;
    }

    #fargoDiv2 {
        position: absolute;
        top: 4180px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }
    
    #jackDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 170px;
        margin-top: 75px;
    }

    #jackDiv2 {
        position: absolute;
        top: 4600px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #allDiv {
        width: 300px;
        margin-left: 45px;
        margin-bottom: 240px;
        margin-top: 55px;
    }

    #allDiv2 {
        position: absolute;
        top: 4965px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #digestiveDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 230px;
        margin-top: 35px;
    }

    #digestiveDiv2 {
        position: absolute;
        top: 5400px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    /* Skills Section CSS */
    .card {
        width: 105px;
        height: 130px;
        margin: 10px;
        margin-bottom: 30px;
    }
    
    .card-image {
        height: 105px;
        width: 105px;
    }
    
    #cssPic {
        height: 170px;
        width: 315px;
        left: -105px;
    }

    #awsPic {
        left: -45%;
    }
    
    #expressPic {
        width: 90px;
    }

    #mongodbPic {
        left: -44%;
        top: -20%;
    }

    #reactPic {
        left: -81%;
        top: -15%;
    }
    
    #handlebarsText {
        margin-left: -21px;
    }
    
    .cardNameDiv {
        font-size: 12px;
     }
     
    
    /* Portfolio CSS */
    .portfolioDiv {
        width: 370px;
        height: 210px;
        margin: 5px;
        margin-left: 10px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .screenImg {
        width: 285px;
        height: 165px;
        position: relative;
        z-index: 2;
    }

    .portfolioPic {
        width: 250px;
        height: 120px;
        left: 59px;
        top: 29px;
    }

    #project1 {
        margin-bottom: 1200px;
        margin-left: -19px;
    }

    #project2 {
        top: 9330px;
        position: absolute;
    }

    #project3 {
        top: 9570px;
        position: absolute;
    }

    #project4 {
        top: 9810px;
        position: absolute;
    }

    #project5 {
        top: 10050px;
        position: absolute;
    }

    #project6 {
        top: 10290px;
        position: absolute;
    }
    
    /* Interests Section CSS */
    #interestsRow {
        padding-bottom: 50px;
    }

    #interestTitleHeader {
        margin-top: 90px;
    }
    
    .interestLogo {
        width: 110px;
        height: 110px;
        margin-top: 13px;
    }

    .interestDiv {
        font-size: 16px;
    }

    #scubaDivingLogo {
        margin-left: -70px;
        margin-top: 120px;
        position: absolute;
    }

    #sportsHeader {
        margin-left: -40px;
    }
    
    #scubaDiv {
        margin-left: 70px;
        width: 200px;
    }

    #entertainmentDiv {
        width: 200px;
        margin-left: -60px;
    }

    #entertainmentHeader {
        margin-left: 17px;
    }

    #videoGamesLogo {
        position: absolute;
        margin-top: 130px;
        margin-left: -20px;
    }

    #travelDiv {
        width: 200px;
        margin-left: 75px;
    }

    #travelHeader {
        margin-left: -70px;
    }

    #travelLogo {
        position: absolute;
        margin-top: 125px;
        margin-left: -65px;
    }

    #joDiv {
        width: 200px;
        margin-left: -60px;
    }

    #joHeader {
        margin-left: -20px;
        width: 350px;
        margin-bottom: 50px;
    }

    #wu {
        margin-left: -190px;
        margin-top: 40px;
        position: absolute;
    }

    #joLogo {
        position: absolute;
        margin-top: 145px;
        margin-left: -25px;
    }

    /* Contact Section CSS */
    #contactSection {
        background-color: #7858af;
    }
    
    .contactDiv {
        z-index: 1;
        position: relative;
        bottom: 60%;
    }
    
    #contactDescription {
        color: aliceblue;
    }
    
    .contact {
        color: aliceblue;
    }
    
    .contactLogos {
        width: 80px;
        height: 80px;
        margin: 15px;
    }

    #contactDiv {
        margin-left: -5px;
    }
    
    #gmailLogo {
        width: 110px;
        height: 104px;
        padding-top: 4px;
        margin-bottom: 5px;
    }
    
    #githubLogo {
        width: 88px;
        height: 88px;
        padding-bottom: -10px;
        padding-top: 3px; 
        margin-left: 28px;
    }
    
    #stackoverflowLogo {
        width: 85px;
        height: 85px;
        padding-top: -30px;
        margin-left: 20px;
    }

    #contactLogoRow {
        margin-bottom: 0px;
        padding-bottom: 50px;
    }
}

/* iPhone X Responsiveness */
@media (max-width: 375px) {
    /* NavBar */
    nav {
        width: 375px;
    }

    .nav-wrapper {
        width: 375px;
    }
    
    .brand-logo {
        font-size: 12px;
        margin-left: 5px;
    }

    /* Profile Section */
    #profileDiv {
        width: 330px;
        margin-left: 20px;
    }

    .basicDiv {
        margin-left: 10px;
        top: 1220px;
        position: absolute;
    }

    .basicText {
        margin-left: 10px;
        text-align: center;
    }
    
    .profilePic {
        height: 285px;
        width: 345px;
        margin-left: -110px;
        margin-bottom: 460px;
    }
    
    .aboutMe {
        margin-left: -130px;
        position: absolute;
        top: 1400px;
    }
    
    #aboutMePara {
        top: 1470px;
        margin-left: -200px;
        width: 310px;
    }

    /* Experiences Section */
    #experienceDiv {
        width: 330px;
        margin-left: -40px;
    }

    #experienceHeader {
        font-size: 62px;
        margin-left: -16px;
    }

    #experienceDescription {
        font-size: 13px;
    }

    #eduTitle {
        margin-left: 5px
    }

    #ucititle {
        margin-left: -33px;
    }

    #uciDiv {
        margin-left: 12px;
        margin-bottom: 250px;
    }

    #uciDiv2 {
        margin-left: 11px;
    }

    #santaclaratitle {
        margin-left: -13px;
    }

    #scDiv {
        margin-left: 80px;
    }

    #scDiv2 {
        margin-left: 18px;
    }

    #purdueDiv {
        margin-left: 65px;
    }

    #purdueDiv2 {
        margin-left: 16px;
    }
    
    #purdueTitle {
        margin-left: 40px;
    }

        /* YOU ARE HERRRRRRRRRRRRREEEEEEEEEEEEEEE */
    #lexonetDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 220px;
    }

    #lexonetDiv2 {
        position: absolute;
        top: 3380px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #superiorDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 220px;
    }

    #superiorDiv2 {
        position: absolute;
        top: 3765px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #fargoDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 215px;
        margin-top: 30px;
    }

    #fargoDiv2 {
        position: absolute;
        top: 4180px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }
    
    #jackDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 170px;
        margin-top: 75px;
    }

    #jackDiv2 {
        position: absolute;
        top: 4600px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #allDiv {
        width: 300px;
        margin-left: 45px;
        margin-bottom: 240px;
        margin-top: 55px;
    }

    #allDiv2 {
        position: absolute;
        top: 4965px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #digestiveDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 230px;
        margin-top: 35px;
    }

    #digestiveDiv2 {
        position: absolute;
        top: 5400px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    /* Skills Section CSS */
    .card {
        width: 105px;
        height: 130px;
        margin: 10px;
        margin-bottom: 30px;
    }
    
    .card-image {
        height: 105px;
        width: 105px;
    }
    
    #cssPic {
        height: 170px;
        width: 315px;
        left: -105px;
    }
    
    #expressPic {
        width: 90px;
    }
    
    #handlebarsText {
        margin-left: -16px;
    }
    
    .cardNameDiv {
        font-size: 12px;
     }
    
    /* Portfolio CSS */
    .portfolioDiv {
        width: 370px;
        height: 210px;
        margin: 5px;
        margin-left: 10px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .screenImg {
        width: 285px;
        height: 165px;
        position: relative;
        z-index: 2;
    }

    .portfolioPic {
        width: 250px;
        height: 120px;
        left: 59px;
        top: 29px;
    }

    #project1 {
        margin-bottom: 1200px;
        margin-left: -19px;
    }

    #project2 {
        top: 8220px;
        position: absolute;
    }

    #project3 {
        top: 8470px;
        position: absolute;
    }

    #project4 {
        top: 8710px;
        position: absolute;
    }

    #project5 {
        top: 8960px;
        position: absolute;
    }

    #project6 {
        top: 9210px;
        position: absolute;
    }
    
    /* Interests Section CSS */
    #interestsRow {
        padding-bottom: 50px;
    }

    #interestTitleHeader {
        margin-top: 90px;
    }
    
    .interestLogo {
        width: 110px;
        height: 110px;
        margin-top: 13px;
    }

    .interestDiv {
        font-size: 16px;
    }

    #scubaDivingLogo {
        margin-left: -70px;
        margin-top: 120px;
        position: absolute;
    }

    #sportsHeader {
        margin-left: -40px;
    }
    
    #scubaDiv {
        margin-left: 70px;
        width: 200px;
    }

    #entertainmentDiv {
        width: 200px;
        margin-left: -60px;
    }

    #entertainmentHeader {
        margin-left: 17px;
    }

    #videoGamesLogo {
        position: absolute;
        margin-top: 130px;
        margin-left: -20px;
    }

    #travelDiv {
        width: 200px;
        margin-left: 75px;
    }

    #travelHeader {
        margin-left: -70px;
    }

    #travelLogo {
        position: absolute;
        margin-top: 125px;
        margin-left: -65px;
    }

    #joDiv {
        width: 200px;
        margin-left: -60px;
    }

    #joHeader {
        margin-left: -20px;
        width: 350px;
        margin-bottom: 50px;
    }

    #wu {
        margin-left: -190px;
        margin-top: 40px;
        position: absolute;
    }

    #joLogo {
        position: absolute;
        margin-top: 145px;
        margin-left: -25px;
    }

    /* Contact Section CSS */
    #contactSection {
        background-color: #7858af;
    }
    
    .contactDiv {
        z-index: 1;
        position: relative;
        bottom: 60%;
    }
    
    #contactDescription {
        color: aliceblue;
    }
    
    .contact {
        color: aliceblue;
    }
    
    .contactLogos {
        width: 80px;
        height: 80px;
        margin: 15px;
    }

    #contactDiv {
        margin-left: -5px;
    }
    
    #gmailLogo {
        width: 110px;
        height: 104px;
        padding-top: 4px;
        margin-bottom: 5px;
    }
    
    #githubLogo {
        width: 88px;
        height: 88px;
        padding-bottom: -10px;
        padding-top: 3px; 
        margin-left: 28px;
    }
    
    #stackoverflowLogo {
        width: 85px;
        height: 85px;
        padding-top: -30px;
        margin-left: 20px;
    }

    #contactLogoRow {
        margin-bottom: 0px;
        padding-bottom: 50px;
    }
}